.password {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.visible {
  cursor: pointer;
  position: absolute;
  margin: 0 1.5rem;
  right: 0px;
  fill: var(--color3);
}