.container {
  display: flex;
  flex-direction: column;
}

.formUpload {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  & input {
    opacity: 0;
    width: 0;
  };
  & label {
    cursor: pointer;
    border: 1px solid var(--color2);
    padding: .8rem;
    border-radius: 5px;
  }
  & button {
    padding: .8rem;
  }
}

.total {
  padding: 0 2rem;
  font-size: 1.2rem;
  & span {
    color: var(--color3);
    font-weight: 600;
  }
}