.header {
  background: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  & h1 {
    font-weight: 500;
    color: var(--color4);
  }
}

.button {
  background: #fff;
  color: var(--color3);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}